img.recipe-detail-img {
  max-width: 500px;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
}

.list-group-item:last-child {


  border-bottom: none;
}

body {
  background-color: #f8c6d0;
}